*{
margin: 0;
padding: 0;
font-family: 'Mooli', sans-serif;
}
body{
    background: #e3ab7a38;
}

html{
    scroll-behavior: smooth;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 50px;

}
.left{
    width: 125px;
}
.left img{
    width: 100%;
    color: #e3ab7a38;
}
.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left img:hover{
    cursor: pointer;
}

.center input{
    width: 500px;
    border: none;
    border: 2px solid grey;
    padding: 5px 10px;
    border-radius: 10px 0px 0px 10px;
    border-right:none ;
    outline: none;
    background: #e3ab7a07;


}

.center input:hover {
    border: 2px solid rgb(75, 75, 75);
    padding: 5px 10px;
    border-radius: 10px 0px 0px 10px;
    border-right:none ;
    outline: none;
    

}
.center input:hover .op {
    border:  rgb(75, 75, 75);
}

.center i{
    border: 2px solid grey;
    padding: 5px 10px;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    

    
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;


}
.laung{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #784c39;
    gap: 22px;
    padding: 10px 20px;
    border-radius: 10px;

}
.laung p{
    color: white;
    transition: 0.5s;

}
.laung p:hover{
    transform: scale(1.2);

}
.laung a{
        text-decoration: none;

}
header{
    background-image: url(poster.jpg);
    background-size: cover;
    height: 55vh;
    width: 93%;
    margin:auto ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;


}
.tbody{
    display: flex;
    width: 93%;
    margin: auto ; 
    margin-top: 50px;   
}
.tleft{
    margin-right: 50px;
    width: 27%;
    height: 90vh;
    display: flex;
    position: sticky;
    top: 40px;

}
.nav-left{
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    height: 95%;


}
.nav0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 10px ;
    background: #e3ab7a;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;

}
.nav0:hover{
    background: #dc9470;
    cursor: pointer;
}
.nav0 i{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: #000;
}
.nav0 img{
    width: 70px;
}
.nav1  , .nav2 , .nav3 , .nav4 , .nav5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0px 0px 20px;
    margin: 10px ;
    background: #e3ab7a;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.5s;
}
.nav1:hover , .nav2:hover , .nav3:hover , .nav4:hover , .nav5:hover {
    background: #dc9470;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}
.nav1 img{
    width: 60px;
}
.nav2 img{
    width: 70px;
}
.nav3 img{
    width: 43px;
}
.nav4 img{
    width: 70px;
}
.nav5 img{
    width: 70px;
}
.tright{
    width: 75%;


}
.tright h1 {
    font-size: 40px;
    margin-left: 70px;
    height: max-content;
}

.top{
    display: flex;
    justify-content:space-around;
    gap: 25px;
    margin: 20px 40px;
    height: max-content;

}
.bord{
    width: 120px;
    height: 25px;
    border: 2px solid rgb(128, 128, 128);
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    justify-content: space-between;

}
.bord:hover{
    border: 2px solid rgb(79, 79, 79);
    background: rgb(203, 196, 170);
    cursor: pointer;
    
}
.cards{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* ___________________________________________ */

    max-width: 100%;
}
.card{
    
    width: 23%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.card:hover{
    cursor: pointer;

}

.card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scale(0.9);
    transition: 0.5s;

}
.card:hover img{
    transform: scale(0.97);

}
.icon , .icon-glass{

    position: absolute;
    bottom: 20px;left: 20px;right: 20px;
    background: wheat;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
}

.card1{
    
    width: 23%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.card1:hover{
    cursor: pointer;


}

.card1 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scale(0.9);
    transition: 0.5s;

}
.card1:hover .l{
        filter: blur(10px);

}
.l1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.card1:hover .l1{
    transform: scale(1.03);
}

.card-glass{
    
    width: 49%;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.card-glass:hover{
    cursor: pointer;

}

.card-glass img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;

}
.icon-glass{
    display: none;
}
.card-glass iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -1px;
    right: 5px;
}

.colors{

    position: absolute;
    bottom: 20px;left: 20px;right: 20px;
    background: wheat;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
}
.color1{
width: 30px;
height: 30px;
border-radius: 50%;
background: #000;
margin: 8px;
}
.color2{
width: 30px;
height: 30px;
border-radius: 50%;
background: #ff0000;
margin: 8px;
}
.color3{
width: 30px;
height: 30px;
border-radius: 50%;
background: #001aff;
margin: 8px;
}
.color-left{
    bottom: 20px;left: 20px;right: 20px;
    background: wheat;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
}
footer{
    width: 100%;
    height: 120px;
    background: #a96d55;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer p{
    font-weight: bold;
    font-size: 20px;
}
footer p span{
    font-size: 30px;
}
.soshial{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


footer i{
    font-size: 35px;
    transition: 0.5s;
    border-radius: 12px;
    padding: 5px 5px 4px 5px;


}
footer i:hover{
    cursor: pointer;
    color: #c6a991;
    background: #000;

    

}
.sc{
    width: 40px;
    height: 40px;

}
.navbar-bottom-phone{
    display: none;
}


@media screen and (max-width : 480px){
    body{
        background: #e3ab7a38;
        margin: 0px 0px 59px 0px;
    }


    nav{
        padding: 10px 15px;
    }
   
    .left{
        width: 80px;
    } 

    .center input{
        width: 105px;

    }
    .laung{
        display: none;
        justify-content: space-between;
        align-items: center;
        background: #784c39;
        gap: 3px;
        padding: 3px 6px;
        border-radius: 10px;
    
    }
    .right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    
    
    }
    .sc{
        width: 7px;
        height: 7px;
    }
    header{
        background-image: url(poster\ phone.jpg);
        background-size: cover;
        height: 55vh;
        width: 93%;
        margin:auto ;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    
    }
    .tleft{
        display: none;
    }
    .tright{
        width: 100%;
    }
    .all{
        display: none;
    }
    .top{
        display: none;
    }
    .tright h1 {
        font-size: 30px;
        justify-content: center;
        margin: auto;

    }
    .card{
    
        width: 47%;
        height: 220px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    }
    .card1{
    
        width: 47%;
        height: 220px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    }
    .card-glass{
    
        width: 100%;
        height: 250px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    }
    .card-glass iframe{
   display: none;
    }
    .colors-left , .colors , .color1 , .color2 , .color3 {
        display: none;
    }
    .icon-glass{
        display: flex;
    }


    footer{
        width: 100%;
        height: 80px;
        background: #000000;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
    
    }
    footer p{
        font-weight: bold;
        font-size: 10px;
    }
    footer p span{
        font-size: 15px;
    }
    .soshial{
        gap: 10px;
    }
    footer i{
        font-size: 15px;
        color: white;
    }

    .navbar-bottom-phone{
        display: flex;
        width: 100%;
        height: 60px;
        background: #784c39;
        position: fixed;
        bottom: 0;
        z-index: 10;
        align-items: center;
        justify-content: space-around;
       
       

    }
    .icon-bottom{
        width: 14%;
        height: 70%;
        display: flex;
        justify-content: space-around;
       
    }
    .icon-bottom img{
        width: max-content;
        height: 60%;
    
       

        }
    .icon-bottom p{
       
        font-size: 10px;
        font-weight: bold;
        margin-top: 7px;
    }
    .icon-bottom a {
        display: flex;
        align-items: center;
        flex-direction: column;
        


    }
}